<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista productów</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:unless="${#lists.isEmpty(products)}">
    <div class="p-3 mb-2 bg-success text-white" th:text="|Produkty ${category}|">Lista produktów z danej kategorii></div>
</div>

<div style="width: 500px; margin: 50px auto" class="table-responsive">
    <table class="table table-bordered border-primary">
        <thead>
        <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iter: ${products}">
            <th scope="row" th:text="${iter.count}">1</th>
            <td th:text="${product.name}">Produkty</td>
            <td th:text="|${#numbers.formatDecimal(product.price, 0, 'WHITESPACE', 2, 'COMMA')} zł|">cena</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr >
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Suma cen:</th>
            <th scope="col" th:text="|${#numbers.formatDecimal(priceSum, 0,
         'WHITESPACE', 2, 'COMMA')} zł|">Cena</th>
        </tbody>
    </table>
</div>

</body>
</html>